<%= render 'users/user', user: @user, book: @book_new %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
            <tr>
              <td>
               <p><%= image_tag @book.user.get_profile_image(100,100) %></p><br>
               <%= link_to user_path(@book.user.id) do %>
               <p><%= @book.user.name %></p>
               <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id) do %>
                <p><%= @book.title %></p>
                <% end %>
              </td>
              <td>
                <p><%= @book.body %></p>
              </td>
              <td>
                <% if @book.user == current_user %>
               <p><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></p>
                <% end %>
              </td>
              <td>
                <% if @book.user == current_user %>
               <p><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %></p>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

