<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navber-dark bg-dark">
        <div class="container">
          <a class="navber-brand" href="/">
            <span>Bookers</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <i class="fas fa-sign-out-alt" style="color: #f9fafb;"></i>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <i class="fas fa-home" style="color: #f9fafa;"></i>
              <%= link_to "Home", root_path %>
            </li>
            <li>
              <i class="fas fa-paperclip" style="color: #f9fafb;"></i>
              <%= link_to "About", about_path %>
            </li>
            <li>
              <i class="fas fa-user-plus" style="color: #f8f9fc;"></i>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>
               <i class="fas fa-sign-in-alt" style="color: #ffffff;"></i>
               <%= link_to "Log in", new_user_session_path %>
            </li>
            <% end %> 
           </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  
</html>
